/* General styles */
body {
	background-color: #f5f8fa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Header styles */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}

/* Main content styles */
main {
	width: 600px;
	margin: 60px auto 0px auto;
	background-color: #f5f8fa;
}

/* Form styles */
#tweet-form {
	margin-bottom: 20px;
	padding: 10px 12px;
	background-color: #e8f4fb;
	border: 1px solid #e1e8ed;
	border-radius: 10px;
}

#tweet-form-handle {
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #a3d4f2;
	border-radius: 3px;
}

#tweet-form-body {
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 10px;
	font-size: 14px;
	border: 1px solid #a3d4f2;
	border-radius: 3px;
}

#tweet-form-button {
	padding: 7px 8px;
	font-size: 14px;
	color: #fff;
	background-color: #1b95e0;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
}

#tweet-form-edit-button {
	padding: 7px 8px;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	background-color: #1b95e0;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

#tweet-form-delete-button {
	padding: 7px 8px;
	font-size: 14px;
	color: #fff;
	background-color: #e53334;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

/* Tweet styles */
.single-tweet {
	margin-bottom: 20px;
}

.tweet {
	padding: 10px 12px;
	background-color: #fff;
	border: 1px solid #e1e8ed;
	border-radius: 10px;
}

.light-grey {
	color: #8899a6;
}