<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="application.css">
  </head>
  <body>
    <header></header>
    <main>
      <h1>Twitter Clone</h1>
      <p>Example text</p>
    </main>
  </body>
</html>
