<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="application.css">
  </head>
  <body>
    <header></header>
    <main>
      <form id="tweet-form" action="tweets/create" method="POST">
        <input id="tweet-form-handle" type="text" name="handle" placeholder="KunkkaBlade">
        <textarea id="tweet-form-body" name="body" placeholder="What's going on?"></textarea>
      </form>
    </main>
  </body>
</html>
